[Desktop Entry]
Name=Mission Manager
Comment=A Kwin Script configured for Plasms's virtual-desktop manager. To make you Plasma more powerful and productivity.

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=false
X-KDE-PluginInfo-Author=PatrickChoDev
X-KDE-PluginInfo-Email=devpatrick.cho@gmail.com
X-KDE-PluginInfo-Name=mission-manager
X-KDE-PluginInfo-Version=0.0.3

X-KDE-PluginInfo-License=BSD-3-Clause
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=mission-manager
